<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
	<a href="#">
	  <img src="/static/assets/img/gadget-logo.svg" class="logo"> Gadget

	</a>
      </li>
      <li>
	<a href="#">New...</a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
	<div class="col-lg-12">
	  {{outlet}}
	</div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>

<footer class="footer">
  <div class="container text-center">
    <p class="text-muted">
      <a href="http://getweber.github.io/" target="_blank">
      <img src="http://getweber.github.io/img/hatched-from-weber-badge.svg" style="height: 2em">
      </a>
    </p>
  </div>
</footer>
